<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database Search</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <img src="cinema.jpg" alt="Placeholder Image">
        <p>Enter movie name:</p>
        <form action="#" method="post">
            <label for="name">City:</label>
            <input type="text" id="name" name="name"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div id="spinner" class="spinner" style="display: none;"></div>
    <div id="answer" class="container" style="display: none;"> 
        <h2>Current Weather</h2>
        <button type="button" id="close-answer">Close</button>
    </div>

</body>
</html>
