body {
    text-align: center;
    background-color: #F0F4F7;
    color: #2E3440;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto; 
}

.domain-check-section {
    width: 100%;
    margin-bottom: 20px;
    background-color: #E5E9F0;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}

.domains-list-section {
    width: 100%;
    max-width: 800px;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #D8DEE9;
    padding: 20px;
    margin-top: 20px;
    background-color: #ECEFF4;
    border-radius: 8px;
}

#domains-list {
    display: block;
}

.domain-item {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #D8DEE9;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.domain-name {
    font-weight: bold;
    word-wrap: break-word;
    width: 70%;
    margin-bottom: 10px;
    text-align: left;
}

.status {
    text-align: center;
    font-weight: normal;
    color: #4C566A;
    width: 30%;
    display: inline-block;
}

input, button {
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #81A1C1;
    border-radius: 4px;
}

button {
    background-color: #5E81AC;
    color: #ECEFF4;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #81A1C1;
}

h1, h2 {
    color: #3B4252;
}

#result {
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
    color: #4C566A; 
}
