<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Convert C to F</title>
    <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
        
    <h2>Convert temperature (C) to temperature (F)</h2>

    <form id="result_form" type="submit">
        <p> Enter temperature in C</p>
        <input type="text" id="temperature" name="temp">
        <input type="submit" id="check" value="convert to F">
        <p id="result_in_F"></p>
    </form>

    
    
    <script src="script.js"></script>
    </body>