<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Word Count</title>
</head>
<body>
    <div class="content">
        <h2>Word count</h2>
    </div>

    <form id="word_count_form">
        <label for="text_input">Enter text for word counting</label>
        <input type="text" name="text_input" id="text_input" required>
        <button type="submit">Submit</button>
    </form>

    <br><br>
    <div class="content" id="display_results"></div>
</body>
</html>
