<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Domain Monitoring System</h1> </br>

    <div class="form-container">
        <!-- Login Form -->
        <form id="login_form">
            <h3>Login</h3>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <button type="submit">Login</button>
        </form>

        <!-- Registration Form -->
        <form id="registration_form">
            <h3>Not registered? Register here:</h3>
            <label for="choose_username">Choose a username:</label>
            <input type="text" id="choose_username" name="choose_username" required><br><br>
            <label for="choose_password">Choose a password:</label>
            <input type="password" id="choose_password" name="choose_password" required><br><br>
            <button type="submit">Register</button>
        </form>
    </div>

    <div id="status"></div>

    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
