<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Liveness</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h2>Check URL Liveness</h2>
        <div id="result">
            <p id="status"></p>
        </div>
        <form id="check-form" type="submit">
            <input type="text" id="url" name="name">
            <input type="submit" id="check" value="Check">
        </form>
        <p id="error_message"></p>
        <script src="script.js"></script>
    </body>