<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local time display page</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <div class="container">
        <h1>Local Time Display Page</h1>
    </div>

    <button type="button" style="background-color: #6050dc ; font-size: 18px; padding: 20px 35px;" id="time_button">Click me!</button>
    
</body>
</html>
